/*
Meraki Dashboard API

The Cisco Meraki Dashboard API is a modern REST API based on the OpenAPI specification.  > Date: 04 March, 2026 > > [Recent Updates](https://meraki.io/whats-new/)  ---  [API Documentation](https://meraki.io/api)  [Community Support](https://meraki.io/community)  [Meraki Homepage](https://www.meraki.com) 

API version: 1.68.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package client

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
)


// DeploymentsApiService DeploymentsApi service
type DeploymentsApiService service

type DeploymentsApiCreateOrganizationWirelessDevicesProvisioningDeploymentRequest struct {
	ctx context.Context
	ApiService *DeploymentsApiService
	organizationId string
	createOrganizationWirelessDevicesProvisioningDeployment *InlineObject310
}

func (r DeploymentsApiCreateOrganizationWirelessDevicesProvisioningDeploymentRequest) CreateOrganizationWirelessDevicesProvisioningDeployment(createOrganizationWirelessDevicesProvisioningDeployment InlineObject310) DeploymentsApiCreateOrganizationWirelessDevicesProvisioningDeploymentRequest {
	r.createOrganizationWirelessDevicesProvisioningDeployment = &createOrganizationWirelessDevicesProvisioningDeployment
	return r
}

func (r DeploymentsApiCreateOrganizationWirelessDevicesProvisioningDeploymentRequest) Execute() (*InlineResponse200389, *http.Response, error) {
	return r.ApiService.CreateOrganizationWirelessDevicesProvisioningDeploymentExecute(r)
}

/*
CreateOrganizationWirelessDevicesProvisioningDeployment Create a zero touch deployment for a wireless access point

Create a zero touch deployment for a wireless access point

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId Organization ID
 @return DeploymentsApiCreateOrganizationWirelessDevicesProvisioningDeploymentRequest
*/
func (a *DeploymentsApiService) CreateOrganizationWirelessDevicesProvisioningDeployment(ctx context.Context, organizationId string) DeploymentsApiCreateOrganizationWirelessDevicesProvisioningDeploymentRequest {
	return DeploymentsApiCreateOrganizationWirelessDevicesProvisioningDeploymentRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
	}
}

// Execute executes the request
//  @return InlineResponse200389
func (a *DeploymentsApiService) CreateOrganizationWirelessDevicesProvisioningDeploymentExecute(r DeploymentsApiCreateOrganizationWirelessDevicesProvisioningDeploymentRequest) (*InlineResponse200389, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *InlineResponse200389
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeploymentsApiService.CreateOrganizationWirelessDevicesProvisioningDeployment")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organizations/{organizationId}/wireless/devices/provisioning/deployments"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterToString(r.organizationId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createOrganizationWirelessDevicesProvisioningDeployment == nil {
		return localVarReturnValue, nil, reportError("createOrganizationWirelessDevicesProvisioningDeployment is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createOrganizationWirelessDevicesProvisioningDeployment
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["bearerAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["meraki_api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Cisco-Meraki-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DeploymentsApiDeleteOrganizationWirelessDevicesProvisioningDeploymentRequest struct {
	ctx context.Context
	ApiService *DeploymentsApiService
	organizationId string
	deploymentId string
}

func (r DeploymentsApiDeleteOrganizationWirelessDevicesProvisioningDeploymentRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteOrganizationWirelessDevicesProvisioningDeploymentExecute(r)
}

/*
DeleteOrganizationWirelessDevicesProvisioningDeployment Delete a zero touch deployment

Delete a zero touch deployment

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId Organization ID
 @param deploymentId Deployment ID
 @return DeploymentsApiDeleteOrganizationWirelessDevicesProvisioningDeploymentRequest
*/
func (a *DeploymentsApiService) DeleteOrganizationWirelessDevicesProvisioningDeployment(ctx context.Context, organizationId string, deploymentId string) DeploymentsApiDeleteOrganizationWirelessDevicesProvisioningDeploymentRequest {
	return DeploymentsApiDeleteOrganizationWirelessDevicesProvisioningDeploymentRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
		deploymentId: deploymentId,
	}
}

// Execute executes the request
func (a *DeploymentsApiService) DeleteOrganizationWirelessDevicesProvisioningDeploymentExecute(r DeploymentsApiDeleteOrganizationWirelessDevicesProvisioningDeploymentRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeploymentsApiService.DeleteOrganizationWirelessDevicesProvisioningDeployment")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organizations/{organizationId}/wireless/devices/provisioning/deployments/{deploymentId}"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterToString(r.organizationId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"deploymentId"+"}", url.PathEscape(parameterToString(r.deploymentId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["bearerAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["meraki_api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Cisco-Meraki-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type DeploymentsApiGetOrganizationWirelessDevicesProvisioningDeploymentsRequest struct {
	ctx context.Context
	ApiService *DeploymentsApiService
	organizationId string
	perPage *int32
	startingAfter *string
	endingBefore *string
	search *string
	sortBy *string
	sortOrder *string
	deploymentType *string
}

// The number of entries per page returned. Acceptable range is 3 - 1000. Default is 20.
func (r DeploymentsApiGetOrganizationWirelessDevicesProvisioningDeploymentsRequest) PerPage(perPage int32) DeploymentsApiGetOrganizationWirelessDevicesProvisioningDeploymentsRequest {
	r.perPage = &perPage
	return r
}

// A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.
func (r DeploymentsApiGetOrganizationWirelessDevicesProvisioningDeploymentsRequest) StartingAfter(startingAfter string) DeploymentsApiGetOrganizationWirelessDevicesProvisioningDeploymentsRequest {
	r.startingAfter = &startingAfter
	return r
}

// A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.
func (r DeploymentsApiGetOrganizationWirelessDevicesProvisioningDeploymentsRequest) EndingBefore(endingBefore string) DeploymentsApiGetOrganizationWirelessDevicesProvisioningDeploymentsRequest {
	r.endingBefore = &endingBefore
	return r
}

// Filter by MAC address, serial number, new device name, old device name, or model.
func (r DeploymentsApiGetOrganizationWirelessDevicesProvisioningDeploymentsRequest) Search(search string) DeploymentsApiGetOrganizationWirelessDevicesProvisioningDeploymentsRequest {
	r.search = &search
	return r
}

// Field used to sort results. Default is &#39;status&#39;.
func (r DeploymentsApiGetOrganizationWirelessDevicesProvisioningDeploymentsRequest) SortBy(sortBy string) DeploymentsApiGetOrganizationWirelessDevicesProvisioningDeploymentsRequest {
	r.sortBy = &sortBy
	return r
}

// Sort order. Default is &#39;asc&#39;.
func (r DeploymentsApiGetOrganizationWirelessDevicesProvisioningDeploymentsRequest) SortOrder(sortOrder string) DeploymentsApiGetOrganizationWirelessDevicesProvisioningDeploymentsRequest {
	r.sortOrder = &sortOrder
	return r
}

// Filter deployments by type.
func (r DeploymentsApiGetOrganizationWirelessDevicesProvisioningDeploymentsRequest) DeploymentType(deploymentType string) DeploymentsApiGetOrganizationWirelessDevicesProvisioningDeploymentsRequest {
	r.deploymentType = &deploymentType
	return r
}

func (r DeploymentsApiGetOrganizationWirelessDevicesProvisioningDeploymentsRequest) Execute() ([]InlineResponse200389, *http.Response, error) {
	return r.ApiService.GetOrganizationWirelessDevicesProvisioningDeploymentsExecute(r)
}

/*
GetOrganizationWirelessDevicesProvisioningDeployments List the zero touch deployments for wireless access points in an organization

List the zero touch deployments for wireless access points in an organization

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId Organization ID
 @return DeploymentsApiGetOrganizationWirelessDevicesProvisioningDeploymentsRequest
*/
func (a *DeploymentsApiService) GetOrganizationWirelessDevicesProvisioningDeployments(ctx context.Context, organizationId string) DeploymentsApiGetOrganizationWirelessDevicesProvisioningDeploymentsRequest {
	return DeploymentsApiGetOrganizationWirelessDevicesProvisioningDeploymentsRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
	}
}

// Execute executes the request
//  @return []InlineResponse200389
func (a *DeploymentsApiService) GetOrganizationWirelessDevicesProvisioningDeploymentsExecute(r DeploymentsApiGetOrganizationWirelessDevicesProvisioningDeploymentsRequest) ([]InlineResponse200389, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []InlineResponse200389
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeploymentsApiService.GetOrganizationWirelessDevicesProvisioningDeployments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organizations/{organizationId}/wireless/devices/provisioning/deployments"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterToString(r.organizationId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.perPage != nil {
		localVarQueryParams.Add("perPage", parameterToString(*r.perPage, ""))
	}
	if r.startingAfter != nil {
		localVarQueryParams.Add("startingAfter", parameterToString(*r.startingAfter, ""))
	}
	if r.endingBefore != nil {
		localVarQueryParams.Add("endingBefore", parameterToString(*r.endingBefore, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("search", parameterToString(*r.search, ""))
	}
	if r.sortBy != nil {
		localVarQueryParams.Add("sortBy", parameterToString(*r.sortBy, ""))
	}
	if r.sortOrder != nil {
		localVarQueryParams.Add("sortOrder", parameterToString(*r.sortOrder, ""))
	}
	if r.deploymentType != nil {
		localVarQueryParams.Add("deploymentType", parameterToString(*r.deploymentType, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["bearerAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["meraki_api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Cisco-Meraki-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DeploymentsApiUpdateOrganizationWirelessDevicesProvisioningDeploymentsRequest struct {
	ctx context.Context
	ApiService *DeploymentsApiService
	organizationId string
	updateOrganizationWirelessDevicesProvisioningDeployments *InlineObject309
}

func (r DeploymentsApiUpdateOrganizationWirelessDevicesProvisioningDeploymentsRequest) UpdateOrganizationWirelessDevicesProvisioningDeployments(updateOrganizationWirelessDevicesProvisioningDeployments InlineObject309) DeploymentsApiUpdateOrganizationWirelessDevicesProvisioningDeploymentsRequest {
	r.updateOrganizationWirelessDevicesProvisioningDeployments = &updateOrganizationWirelessDevicesProvisioningDeployments
	return r
}

func (r DeploymentsApiUpdateOrganizationWirelessDevicesProvisioningDeploymentsRequest) Execute() (*InlineResponse200389, *http.Response, error) {
	return r.ApiService.UpdateOrganizationWirelessDevicesProvisioningDeploymentsExecute(r)
}

/*
UpdateOrganizationWirelessDevicesProvisioningDeployments Update a zero touch deployment

Update a zero touch deployment

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId Organization ID
 @return DeploymentsApiUpdateOrganizationWirelessDevicesProvisioningDeploymentsRequest
*/
func (a *DeploymentsApiService) UpdateOrganizationWirelessDevicesProvisioningDeployments(ctx context.Context, organizationId string) DeploymentsApiUpdateOrganizationWirelessDevicesProvisioningDeploymentsRequest {
	return DeploymentsApiUpdateOrganizationWirelessDevicesProvisioningDeploymentsRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
	}
}

// Execute executes the request
//  @return InlineResponse200389
func (a *DeploymentsApiService) UpdateOrganizationWirelessDevicesProvisioningDeploymentsExecute(r DeploymentsApiUpdateOrganizationWirelessDevicesProvisioningDeploymentsRequest) (*InlineResponse200389, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *InlineResponse200389
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeploymentsApiService.UpdateOrganizationWirelessDevicesProvisioningDeployments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organizations/{organizationId}/wireless/devices/provisioning/deployments"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterToString(r.organizationId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.updateOrganizationWirelessDevicesProvisioningDeployments == nil {
		return localVarReturnValue, nil, reportError("updateOrganizationWirelessDevicesProvisioningDeployments is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updateOrganizationWirelessDevicesProvisioningDeployments
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["bearerAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["meraki_api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Cisco-Meraki-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
