/*
Meraki Dashboard API

The Cisco Meraki Dashboard API is a modern REST API based on the OpenAPI specification.  > Date: 04 February, 2026 > > [Recent Updates](https://meraki.io/whats-new/)  ---  [API Documentation](https://meraki.io/api)  [Community Support](https://meraki.io/community)  [Meraki Homepage](https://www.meraki.com) 

API version: 1.67.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package client

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
)


// RrmApiService RrmApi service
type RrmApiService service

type RrmApiGetOrganizationWirelessRadioRrmByNetworkRequest struct {
	ctx context.Context
	ApiService *RrmApiService
	organizationId string
	networkIds *[]string
	startingAfter *string
	endingBefore *string
	perPage *int32
	sortOrder *string
}

// Optional parameter to filter results by network.
func (r RrmApiGetOrganizationWirelessRadioRrmByNetworkRequest) NetworkIds(networkIds []string) RrmApiGetOrganizationWirelessRadioRrmByNetworkRequest {
	r.networkIds = &networkIds
	return r
}

// Retrieving items after this network ID
func (r RrmApiGetOrganizationWirelessRadioRrmByNetworkRequest) StartingAfter(startingAfter string) RrmApiGetOrganizationWirelessRadioRrmByNetworkRequest {
	r.startingAfter = &startingAfter
	return r
}

// Retrieving items before this network ID
func (r RrmApiGetOrganizationWirelessRadioRrmByNetworkRequest) EndingBefore(endingBefore string) RrmApiGetOrganizationWirelessRadioRrmByNetworkRequest {
	r.endingBefore = &endingBefore
	return r
}

// Number of items per page
func (r RrmApiGetOrganizationWirelessRadioRrmByNetworkRequest) PerPage(perPage int32) RrmApiGetOrganizationWirelessRadioRrmByNetworkRequest {
	r.perPage = &perPage
	return r
}

// The sort order of items
func (r RrmApiGetOrganizationWirelessRadioRrmByNetworkRequest) SortOrder(sortOrder string) RrmApiGetOrganizationWirelessRadioRrmByNetworkRequest {
	r.sortOrder = &sortOrder
	return r
}

func (r RrmApiGetOrganizationWirelessRadioRrmByNetworkRequest) Execute() (*InlineResponse200387, *http.Response, error) {
	return r.ApiService.GetOrganizationWirelessRadioRrmByNetworkExecute(r)
}

/*
GetOrganizationWirelessRadioRrmByNetwork List the AutoRF settings of an organization by network

List the AutoRF settings of an organization by network

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId Organization ID
 @return RrmApiGetOrganizationWirelessRadioRrmByNetworkRequest
*/
func (a *RrmApiService) GetOrganizationWirelessRadioRrmByNetwork(ctx context.Context, organizationId string) RrmApiGetOrganizationWirelessRadioRrmByNetworkRequest {
	return RrmApiGetOrganizationWirelessRadioRrmByNetworkRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
	}
}

// Execute executes the request
//  @return InlineResponse200387
func (a *RrmApiService) GetOrganizationWirelessRadioRrmByNetworkExecute(r RrmApiGetOrganizationWirelessRadioRrmByNetworkRequest) (*InlineResponse200387, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *InlineResponse200387
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RrmApiService.GetOrganizationWirelessRadioRrmByNetwork")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organizations/{organizationId}/wireless/radio/rrm/byNetwork"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterToString(r.organizationId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.networkIds != nil {
		localVarQueryParams.Add("networkIds", parameterToString(*r.networkIds, "csv"))
	}
	if r.startingAfter != nil {
		localVarQueryParams.Add("startingAfter", parameterToString(*r.startingAfter, ""))
	}
	if r.endingBefore != nil {
		localVarQueryParams.Add("endingBefore", parameterToString(*r.endingBefore, ""))
	}
	if r.perPage != nil {
		localVarQueryParams.Add("perPage", parameterToString(*r.perPage, ""))
	}
	if r.sortOrder != nil {
		localVarQueryParams.Add("sortOrder", parameterToString(*r.sortOrder, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["bearerAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["meraki_api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Cisco-Meraki-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RrmApiUpdateNetworkWirelessRadioRrmRequest struct {
	ctx context.Context
	ApiService *RrmApiService
	networkId string
	updateNetworkWirelessRadioRrm *InlineObject192
}

func (r RrmApiUpdateNetworkWirelessRadioRrmRequest) UpdateNetworkWirelessRadioRrm(updateNetworkWirelessRadioRrm InlineObject192) RrmApiUpdateNetworkWirelessRadioRrmRequest {
	r.updateNetworkWirelessRadioRrm = &updateNetworkWirelessRadioRrm
	return r
}

func (r RrmApiUpdateNetworkWirelessRadioRrmRequest) Execute() (*InlineResponse200205, *http.Response, error) {
	return r.ApiService.UpdateNetworkWirelessRadioRrmExecute(r)
}

/*
UpdateNetworkWirelessRadioRrm Update the AutoRF settings for a wireless network

Update the AutoRF settings for a wireless network

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param networkId Network ID
 @return RrmApiUpdateNetworkWirelessRadioRrmRequest
*/
func (a *RrmApiService) UpdateNetworkWirelessRadioRrm(ctx context.Context, networkId string) RrmApiUpdateNetworkWirelessRadioRrmRequest {
	return RrmApiUpdateNetworkWirelessRadioRrmRequest{
		ApiService: a,
		ctx: ctx,
		networkId: networkId,
	}
}

// Execute executes the request
//  @return InlineResponse200205
func (a *RrmApiService) UpdateNetworkWirelessRadioRrmExecute(r RrmApiUpdateNetworkWirelessRadioRrmRequest) (*InlineResponse200205, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *InlineResponse200205
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RrmApiService.UpdateNetworkWirelessRadioRrm")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/networks/{networkId}/wireless/radio/rrm"
	localVarPath = strings.Replace(localVarPath, "{"+"networkId"+"}", url.PathEscape(parameterToString(r.networkId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updateNetworkWirelessRadioRrm
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["bearerAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["meraki_api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Cisco-Meraki-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
